{% if paginator %}
  <div class="pager">
    {% if paginator.next_page %}
      {% if paginator.next_page == 1 %}
        <a href="/{{include.root}}" class="older">
          <i class='fa fa-angle-double-left'></i>
          Older Entries
        </a>
      {% else %}
        <a href="/{{include.root}}/page{{ paginator.next_page }}" class="older">
          <i class='fa fa-angle-double-left'></i>
          Older Entries
        </a>
      {% endif %}
    {% else %}
      <span class="older">
        <i class='fa fa-angle-double-left'></i>
        Older Entries
      </span>
    {% endif %}
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="/{{include.root}}" class="newer">
          Newer Entries
          <i class='fa fa-angle-double-right'></i>
        </a>
      {% else %}
        <a href="/{{include.root}}/page{{ paginator.previous_page }}" class="newer">
          Newer Entries
          <i class='fa fa-angle-double-right'></i>
        </a>
      {% endif %}
    {% else %}
      <span class="newer">
        Newer Entries
        <i class='fa fa-angle-double-right'></i>
      </span>
    {% endif %}
  </div>
{% endif %}