<div class='links'>
  <h3>Archives</h3>
  <ul>
    <li>
      <a href='#'>December 2011</a>
      <span>(2)</span>
    </li>
    <li>
      <a href='#'>November 2011</a>
      <span>(4)</span>
    </li>
    <li>
      <a href='#'>October 2011</a>
      <span>(1)</span>
    </li>
    <li>
      <a href='#'>September 2011</a>
      <span>(3)</span>
    </li>
    <li>
      <a href='#'>July 2011</a>
      <span>(5)</span>
    </li>
    <li>
      <a href='#'>June 2011</a>
      <span>(3)</span>
    </li>
    <li>
      <a href='#'>May 2011</a>
      <span>(6)</span>
    </li>
    <li>
      <a href='#'>April 2011</a>
      <span>(1)</span>
    </li>
  </ul>
</div>
<div class='links'>
  <h3>Categories</h3>
  <ul>
    {% for cat in site.categories %}
      <li><a href="#">{{cat | first | capitalize}}</a></li>
    {% endfor %}
  </ul>
</div>
<div class='links'>
  <h3>Recent Posts</h3>
  <ul>
    {% for post in site.posts %}
      {% if forloop.index > 6 %}
        {% break %}
      {% endif %}
      <li><a href="{{post.url}}">{{post.title | capitalize}}</a></li>
    {% endfor %}
  </ul>
</div>
<div class='links'>
  <h3>Tags</h3>
  <ul>
    {% for tag in site.tags %}
      <li><a href="#">{{tag | first | capitalize}}</a></li>
    {% endfor %}
  </ul>
</div>
<div class='four spacing'></div>
