<div class='links'>
  <h3>Categories</h3>
  <ul>
    {% for cat in site.categories %}
      <li><a href="#">{{cat | first }}</a></li>
    {% endfor %}
  </ul>
</div>
<div class='links'>
  <h3>Recent Posts</h3>
  <ul>
    {% for post in site.posts %}
      {% if forloop.index > 6 %}
        {% break %}
      {% endif %}
      <li><a href="{{ site.url }}{{post.url}}">{{post.title | capitalize}}</a></li>
    {% endfor %}
  </ul>
</div>
<!-- <div class='links'>
  <h3>Tags</h3>
  <ul>
    {% for tag in site.tags %}
      <li><a href="#">{{tag | first }}</a></li>
    {% endfor %}
  </ul>
</div> -->
<div class='four spacing'></div>
