<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <link rel="stylesheet" href="{{ "/css/grid.css" | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/css/projects.css" | prepend: site.url }}">

    <script src="{{ "/javascripts/strftime.js" | prepend: site.url }}" type="text/javascript"></script>
    <script src="{{ "/javascripts/projects.js" | prepend: site.url }}" type="text/javascript"></script>

    <div id='main' role='main'>
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
